/* setting all default margin/padding to 0 */
*{
    padding: 0;
    margin: 0;
    font-family: Inter;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-weight: 500;
    font-size: 14px;
}

/* import each page's blocks css styling files */

/* Checkout header and navigation */
/*@import "checkout-block.css";*/
/* form for card info input */
/*@import "form.css";*/
/* trial and apple payment buttons designs */
/*@import "buttons.css";*/
/* grayish block with order details info */
/*@import "order-info.css";*/

footer{
    text-align: center;
    padding-bottom: 24px;
    line-height: 20px;
    color: #666C7B;
}

.footer-content{
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
}

/*
    contains our 2 main elements(forms)
    flex wrap provides adaptivity
 */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    /*border: 2px solid gray;*/
}

/* general class for main 2 containers */
.container{
    max-width: 420px;
    min-width: 328px;
    width: 100%;
    max-height: 540px;
    margin: 16px;
    /*border: 2px solid lightgray;*/
}